<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HouseMapper">


<!-- 유저가 찜한 매물이 이미 찜했던 매물인지 확인 -->	
	<select id ="duplicateHouseCheck" parameterType="string" resultType="int">
		select count(*) from wishlist where hcode = #{hcode} and userid = #{userid}
	</select>

<!-- 유저가 찜한 매물 저장하기 -->	
	<insert id="addWish" parameterType="hashmap">
	 	insert into wishlist (userid, hcode) 
	 	values (#{userid}, #{hcode})
	</insert>
	
<!-- 한 유저가 찜한 개수 가져오기 -->	
	<select id="getNoOfWishes" parameterType="string" resultType="int">
		 select count(*) from wishlist where userid= #{userid}
	</select>

<!-- 매물의 cntwish 값 올리기 -->
	<update id="updateCntWish" parameterType="hashmap">
	 	update house_info
        set cntwish  = #{cntwish}+1
        where hcode = #{hcode}
	</update>
	
<!-- 매물의 cntwish 값 가져오기  -->
	<select id="getCntWish" parameterType="string" resultType="int">
		select cntwish from house_info where hcode = #{hcode}
	</select>

<!-- 매물 삭제 - house_info 테이블 -->
	<delete id="houseDel_option" parameterType="list">
		delete from house_option 
		where hcode in
		<foreach item="item" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
<!-- 매물 삭제 - house_info 테이블 -->
	<delete id="houseDel_price" parameterType="list">
		delete from house_price 
		where hcode in
		<foreach item="item" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
<!-- 매물 삭제 - house_info 테이블 -->
	<delete id="houseDel_info" parameterType="list">
		delete from house_info 
		where hcode in
		<foreach item="item" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

<!-- 매물 수정 - house_info 테이블 -->
	<update id="houseUpdate_info" parameterType="HouseInfoDTO">
		update house_info 
		set rtype = #{rtype}, hname = #{hname}, addr = #{addr}, area = #{area}, whlflr = #{whlflr},
			flr = #{flr}, room = #{room}, batr = #{batr}, 
			<if test="himage != null">
				himage = #{himage},
			</if>
			hetc = #{hetc}
	 	where hcode = #{hcode}		 
	</update>
	
<!-- 매물 수정 - house_price 테이블 -->
	<update id="houseUpdate_price" parameterType="HousePriceDTO">
		update house_price 
		set deposit = #{deposit}, mrent = #{mrent}, yrent = #{yrent}, maintc = #{maintc}, parkf = #{parkf}
		where hcode = #{hcode}
	</update>
	
<!-- 매물 수정 - house_option 테이블 -->
	<update id="houseUpdate_option" parameterType="HousePriceDTO">
		update house_option 
		set bltin =	<if test="bltin != 'Y'"> 'N', </if>
					<if test = "bltin == 'Y' ">  #{bltin}, </if>
			elev =	<if test="elev != 'Y' "> 'N', </if>
				  	<if test="elev == 'Y'">  #{elev}, </if>
			pet =	<if test="pet != 'Y' "> 'N', </if>
					<if test="pet == 'Y'">  #{pet}, </if>
			vrd = 	<if test="vrd != 'Y' "> 'N', </if>
					<if test="vrd == 'Y'"> #{vrd}, </if>
			loan = 	<if test="loan != 'Y' "> 'N', </if>
					<if test="loan == 'Y'"> #{loan},  </if>
			park =	<if test="park != 'Y' "> 'N', </if>
					<if test="park == 'Y'"> #{park}, </if>
			mdate = <if test="mdate != 'Y' "> 'N', </if>
					<if test="mdate == 'Y'"> #{mdate}, </if>
			etc = #{etc}
		where hcode = #{hcode}
	</update>




<!-- 매물 등록 - house_info 테이블 -->
	<insert id="houseRegister_info" parameterType="HouseInfoDTO">
		insert into house_info (hcode, htype, rtype, hname, addr, coordx, coordy, area, whlflr, flr, room, batr, cntwish, himage, hetc, registerdate, agntid)
		values (#{hcode}, #{htype}, #{rtype}, #{hname}, #{addr}, 'null', 'null', #{area}, #{whlflr}, #{flr}, #{room}, #{batr}, 0, #{himage}, #{hetc}, sysdate, #{agntid})
	</insert>
	
<!-- 매물 등록 - house_price 테이블 -->
	<insert id="houseRegister_price" parameterType="HousePriceDTO">
		insert into house_price (hcode, deposit, mrent, yrent, maintc, parkf)
		values (#{hcode}, #{deposit}, #{mrent}, #{yrent}, #{maintc}, #{parkf})
	</insert>
	
<!-- 매물 등록 - house_option 테이블 -->
	<insert id="houseRegister_option" parameterType="HousePriceDTO">
		insert into house_option (hcode, bltin, elev, pet, vrd, loan, park, mdate, etc) 
		values (#{hcode},
		<if test="bltin != 'Y'"> 'N', </if>
		<if test = "bltin == 'Y' ">  #{bltin}, </if>
		<if test="elev != 'Y' "> 'N', </if>
		<if test="elev == 'Y'">  #{elev}, </if>
		<if test="pet != 'Y' "> 'N', </if>
		<if test="pet == 'Y'">  #{pet}, </if>
		<if test="vrd != 'Y' "> 'N', </if>
		<if test="vrd == 'Y'"> #{vrd}, </if>
		<if test="loan != 'Y' "> 'N', </if>
		<if test="loan == 'Y'"> #{loan}, </if>
		<if test="park != 'Y' "> 'N', </if>
		<if test="park == 'Y'"> #{park}, </if>
		<if test="mdate != 'Y' "> 'N', </if>
		<if test="mdate == 'Y'"> #{mdate}, </if>
		#{etc})
	</insert>

<!-- houseRegister.jsp에서 가장 최근 등록된 매물 코드 가져오기 (매물타입별) -->
	<select id="getLastCode" parameterType="string" resultType="string">
		select max(hcode) from house_info where htype = #{htype}
	</select>

<!-- housePanel.jsp에서 agent별 매물 리스트 -->
	<select id="houseByAgent" parameterType="string" resultType="hashmap">
		select hcode, rtype, addr, deposit, mrent, registerdate
		from house_info join house_price using(hcode)
		where agntid = #{agntid}
	</select>


<!-- houseList.jsp 검색해서 나오는 매물 w paging  -->
	<select id="searchList" parameterType="string" resultType="hashmap">
		select hcode, htype, rtype, hname, area, flr, hetc, deposit, mrent, yrent, maintc
		from house_info join house_price using(hcode)
		where addr like '%'||#{search}||'%' or hname like
		'%'||#{search}||'%'
	</select>
	
<!-- houseList.jsp  검색해서 나오는 개수 for paging  -->
	<select id="totalListBySearch" parameterType="string" resultType="int">
		select count(*)
		from house_info join house_price using(hcode)
		where addr like '%'||#{search}||'%' or hname like
		'%'||#{search}||'%'
	</select>

<!-- houseOverview.jsp에서 신매물 가장 최근에 올린 애부터 7일 사이  -->
	<select id="retrieveNewItems" parameterType="string" resultType="hashmap">
		select hcode, htype, rtype, hname, area, coordx, coordy, flr, hetc, deposit, mrent, yrent, maintc
		from house_info join house_price using(hcode)
		where registerdate > #{maxSeven}
	</select>
	
<!-- 신매물 기준이 되는 최신 매물에서 7일전꺼 -->
    <select id="test" resultType="string">
    	select to_char(max(registerdate)-7, 'yyyymmdd') from house_info
    </select>
    
<!-- houseOverview.jsp에서 핫매물 cntwish 기준   w/o paging -->
	<select id="retrieveHotItems" resultType="hashmap">
		select hcode, htype, rtype, hname, area, coordx, coordy, flr, hetc, deposit, mrent, yrent, maintc
		from house_info join house_price using(hcode)
		where cntwish >= (select AVG(cntwish) from house_info)
		order by cntwish desc
	</select>

<!-- houseOverview.jsp&houseList.jsp 에서 필터 버튼으로 리스트 불러올때 w paging  -->
	<select id="listByFilter" parameterType="hashmap" resultType="hashmap">
		select hcode, htype, rtype, hname, area, flr, hetc, deposit, mrent, yrent, maintc
		from house_info join house_price using(hcode)
		<choose>
			<when test="!(htype.isEmpty())">
				where htype in
				<foreach item="item" collection="htype" open="(" separator="," close=")">
					#{item}
				</foreach>
				<if test=" !(rtype.isEmpty())">
					and rtype in
					<foreach item="item" collection="rtype" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test=" !(maintc.isEmpty())">
					and maintc &lt; 
					<foreach item="item" collection="maintc">
						#{item}
					</foreach>
				</if>
				<if test="!(mrent.isEmpty())">
					and mrent between 
					<foreach item="item" collection="mrent" separator="and">
						#{item}
					</foreach>
				</if>
				<if test="!(yrent.isEmpty())">
					and yrent &lt; 
					<foreach item="item" collection="yrent">
						#{item}
					</foreach>
				</if>
			</when>
			<when test="!(rtype.isEmpty())">
				where rtype in
				<foreach item="item" collection="rtype" open="(" separator="," close=")">
					#{item}
				</foreach>
				<if test="!(htype.isEmpty())">
					and htype in
					<foreach item="item" collection="htype" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test=" !(maintc.isEmpty())">
					and maintc &lt;
					<foreach item="item" collection="maintc">
						#{item}
					</foreach>
				</if>
				<if test="!(mrent.isEmpty())">
					and mrent between 
					<foreach item="item" collection="mrent" separator="and">
						#{item}
					</foreach>
				</if>
				<if test="!(yrent.isEmpty())">
					and yrent &lt; 
					<foreach item="item" collection="yrent">
						#{item}
					</foreach>
				</if>
			</when>
			<when test="!(maintc.isEmpty())">
				where maintc &lt; 
				<foreach item="item" collection="maintc">
					#{item}
				</foreach>
				<if test="!(htype.isEmpty())">
					and htype in
					<foreach item="item" collection="htype" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test=" !(rtype.isEmpty())">
					and rtype in
					<foreach item="item" collection="rtype" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test="!(mrent.isEmpty())">
					and mrent between 
					<foreach item="item" collection="mrent" separator="and">
						#{item}
					</foreach>
				</if>
				<if test="!(yrent.isEmpty())">
					and yrent &lt; 
					<foreach item="item" collection="yrent">
						#{item}
					</foreach>
				</if>
			</when>
			<when test="!(mrent.isEmpty())">
				where mrent between 
				<foreach item="item" collection="mrent" separator="and">
					#{item}
				</foreach>
				<if test="!(htype.isEmpty())">
					and htype in
					<foreach item="item" collection="htype" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test=" !(rtype.isEmpty())">
					and rtype in
					<foreach item="item" collection="rtype" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test=" !(maintc.isEmpty())">
					and maintc &lt;
					<foreach item="item" collection="maintc">
						#{item}
					</foreach>
				</if>
				<if test="!(yrent.isEmpty())">
					and yrent &lt; 
					<foreach item="item" collection="yrent">
						#{item}
					</foreach>
				</if>
			</when>
			<when test="!(yrent.isEmpty())">
				where yrent &lt; 
				<foreach item="item" collection="yrent">
					#{item}
				</foreach>
				<if test="!(htype.isEmpty())">
					and htype in
					<foreach item="item" collection="htype" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test=" !(rtype.isEmpty())">
					and rtype in
					<foreach item="item" collection="rtype" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test=" !(maintc.isEmpty())">
					and maintc &lt; 
					<foreach item="item" collection="maintc">
						#{item}
					</foreach>
				</if>
				<if test="!(mrent.isEmpty())">
					and mrent between 
					<foreach item="item" collection="mrent" separator="and">
						#{item}
					</foreach>
				</if>
			</when>
		</choose>
	</select>

<!-- houseOverview.jsp&houseList.jsp 에서 필터 버튼으로 리스트 불로오는 개수 for paging  -->
	<select id="totalListByFilter" parameterType="hashmap" resultType="int">
		select count(*)
		from house_info join house_price using(hcode)
		<choose>
			<when test="!(htype.isEmpty())">
				where htype in
				<foreach item="item" collection="htype" open="(" separator="," close=")">
					#{item}
				</foreach>
				<if test=" !(rtype.isEmpty())">
					and rtype in
					<foreach item="item" collection="rtype" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test=" !(maintc.isEmpty())">
					and maintc &lt; 
					<foreach item="item" collection="maintc">
						#{item}
					</foreach>
				</if>
				<if test="!(mrent.isEmpty())">
					and mrent between 
					<foreach item="item" collection="mrent" separator="and">
						#{item}
					</foreach>
				</if>
				<if test="!(yrent.isEmpty())">
					and yrent &lt; 
					<foreach item="item" collection="yrent">
						#{item}
					</foreach>
				</if>
			</when>
			<when test="!(rtype.isEmpty())">
				where rtype in
				<foreach item="item" collection="rtype" open="(" separator="," close=")">
					#{item}
				</foreach>
				<if test="!(htype.isEmpty())">
					and htype in
					<foreach item="item" collection="htype" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test=" !(maintc.isEmpty())">
					and maintc &lt;
					<foreach item="item" collection="maintc">
						#{item}
					</foreach>
				</if>
				<if test="!(mrent.isEmpty())">
					and mrent between 
					<foreach item="item" collection="mrent" separator="and">
						#{item}
					</foreach>
				</if>
				<if test="!(yrent.isEmpty())">
					and yrent &lt; 
					<foreach item="item" collection="yrent">
						#{item}
					</foreach>
				</if>
			</when>
			<when test="!(maintc.isEmpty())">
				where maintc &lt; 
				<foreach item="item" collection="maintc">
					#{item}
				</foreach>
				<if test="!(htype.isEmpty())">
					and htype in
					<foreach item="item" collection="htype" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test=" !(rtype.isEmpty())">
					and rtype in
					<foreach item="item" collection="rtype" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test="!(mrent.isEmpty())">
					and mrent between 
					<foreach item="item" collection="mrent" separator="and">
						#{item}
					</foreach>
				</if>
				<if test="!(yrent.isEmpty())">
					and yrent &lt; 
					<foreach item="item" collection="yrent">
						#{item}
					</foreach>
				</if>
			</when>
			<when test="!(mrent.isEmpty())">
				where mrent between 
				<foreach item="item" collection="mrent" separator="and">
					#{item}
				</foreach>
				<if test="!(htype.isEmpty())">
					and htype in
					<foreach item="item" collection="htype" open="(" separator="," close=")">
							#{item}
					</foreach>
				</if>
				<if test=" !(rtype.isEmpty())">
					and rtype in
					<foreach item="item" collection="rtype" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test=" !(maintc.isEmpty())">
					and maintc &lt;
					<foreach item="item" collection="maintc">
						#{item}
					</foreach>
				</if>
				<if test="!(yrent.isEmpty())">
					and yrent &lt; 
					<foreach item="item" collection="yrent">
						#{item}
					</foreach>
				</if>
			</when>
			<when test="!(yrent.isEmpty())">
				where yrent &lt; 
				<foreach item="item" collection="yrent">
					#{item}
				</foreach>
				<if test="!(htype.isEmpty())">
					and htype in
					<foreach item="item" collection="htype" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test=" !(rtype.isEmpty())">
					and rtype in
					<foreach item="item" collection="rtype" open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test=" !(maintc.isEmpty())">
					and maintc &lt; 
					<foreach item="item" collection="maintc">
						#{item}
					</foreach>
				</if>
				<if test="!(mrent.isEmpty())">
					and mrent between 
					<foreach item="item" collection="mrent" separator="and">
						#{item}
					</foreach>
				</if>
			</when>
		</choose>
	</select>
	
	
	<!-- Basic : House 자세히보기 -->
   	<select id="houseRetrieve" parameterType="string" resultType="HouseInfoDTO">
   		select hcode, htype, rtype, hname, addr, coordX, coordY, area, whlflr, flr, room, batr,	cntwish, himage, hetc, registerDate, agntid
   		from house_info
   		where hcode = #{hcode}
   	</select>
	
	<!-- Basic : House 가격 -->
   	<select id = "housePrice" parameterType="string" resultType = "HousePriceDTO">
   		select hcode, deposit, mrent, yrent, maintc, parkf
   		from house_price
   		where hcode = #{hcode}
   	</select> 
   	
	<!-- Basic : House 옵션 -->
   	<select id = "houseOption" parameterType="string" resultType = "HouseOptionDTO">
   		select bltin, elev, pet, vrd, loan, park, mdate, etc
   		from house_option
   		where hcode = #{hcode}
   	</select> 
	
	
	<!-- 최근 본 House 테이블보기 -->
	<select id="rcnList" parameterType="string" resultType="HouseRcnlistDTO">
   		select num,userid,hcode
   		from rcnlist
   		where userid = #{userid}
   	</select>
   	
   	<!-- 최근 본 House DB 데이터 저장 -->
   	<insert id="rcnInsertAll" parameterType="list">
    	insert all
    		<foreach item="item" collection="list" >
       		 	into rcnlist (num, userid, hcode)
       		 	values(#{item.num}, #{item.userid},#{item.hcode})
  			</foreach>
  			select * from dual
    </insert>
    
    <!-- 최근 본 House DB 데이터 삭제 -->
   	<delete id="rcnDelete" parameterType="list">                                                                                                                                                                                                                                                                                                                                                    	
   		delete 
    	from rcnlist
    	<where>
    		num in
    		<foreach item="item" collection="list" open="(" separator="," close=")">
       		 	#{item}
  			</foreach>
    	</where>
   	</delete>
   	
   	<!-- 최근 본 / 찜한 House 리스트 보기 -->
   	<select id="rcnHouseList" parameterType="list" resultType="hashmap">
   		select hcode, htype, rtype, hname, area, flr, hetc, deposit, mrent, yrent, maintc
		from house_info join house_price using(hcode)
   		<where>
    		hcode in
    		<foreach item="item" collection="list" open="(" separator="," close=")">
       		 	#{item}
  			</foreach>
    	</where>
   	</select>
   	
   	
   	<!-- 찜 한 House 테이블보기 -->
	<select id="wishList" parameterType="string" resultType="HouseWishlistDTO">
   		select userid,hcode
   		from wishlist
   		where userid = #{userid}
   	</select>
</mapper>
  	