<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	
	<!-- 가입 -->

	<insert id="signMbr" parameterType="MemberDTO">
		insert into member (userid,passwd, ssn, username,post,addr, phone, email,agent) 
		values( #{userid},#{passwd},#{ssn},#{username},#{post},#{addr}, #{phone},#{email},#{agent})
	</insert>
	
	<insert id="signAgnt" parameterType="AgentDTO">
		insert into agent (agntid, passwd, agntssn, agntname, agntphone, agntemail)
		values(#{agntid},#{passwd},#{agntssn},#{agntname},#{agntphone},#{agntemail})
	</insert>
	
	<select id="idCheck" parameterType="string" resultType="int">
		select
		count(*)
		from member
		where userid = #{userid}
	</select>
	
	<select id="ssnCheck" parameterType="string" resultType="int">
		select
		count(*)
		from member
		where ssn = #{ssn}
	</select>
	
	<select id="phoneCheck" parameterType="string" resultType="int">
		select
		count(*)
		from member
		where phone = #{phone}
	</select>
	
	
	
	
	
	<select id="agntIdCheck" parameterType="string" resultType="int">
		select
		count(*)
		from agent
		where agntid = #{agntid}
	</select>
	
	<select id = "signedCheck" parameterType= "string" resultType = "int">
		select
		count(*)
		from wdMbr
		where userid = #{userid}
	</select>
	
	<select id = "wdMbrInfo" parameterType = "string" resultType = "WdMbrDTO"> 
		select userid
		from wdMbr
		where  userid = #{userid}
	</select>  <!-- 탈퇴회원 정보출력 -->
	
 	<select id = "overDay" parameterType = "string" resultType = "string">
		select TO_CHAR(DROPTIME + 1,'YYYYMMDDHH24') 
		from wdMbr
		where userid = #{userid}
	</select> 
	 
	 
	<!-- 로그인    -->
	
	<select id="login" parameterType="hashmap" resultType="MemberDTO">
		select userid,passwd, ssn, username,post,addr, phone, email, agent
		from member
		where userid = #{userid} 
		and passwd = #{passwd}
	</select>

	<select id="agntlogin" parameterType="hashmap" resultType="AgentDTO">
		select agntid, passwd, agntssn, agntname, agntphone, agntemail
		from agent
		where agntid = #{userid}
		and passwd = #{passwd}
	</select>

	<!-- 기타 서비스 -->
	
<!-- 	
	<select id="mypage" parameterType="string"
		resultType="MemberDTO">
		select userid,passwd,username,post,addr1,addr2,
		phone1,phone2,phone3,email1,email2
		from member
		where userid = #{userid}
	</select>
	

	<select id="idSearch" resultType="string"
		parameterType="MemberDTO">
		select userid
		from member
		where username=#{username} and
		phone1=#{phone1} and phone2=#{phone2} and
		phone3=#{phone3}
	</select>

	<update id="memberUpdate" parameterType="MemberDTO">
		update member
		set post =
		#{post},
		addr1 = #{addr1},
		addr2 = #{addr2},
		phone1 = #{phone1},
		phone2 =
		#{phone2},
		phone3 = #{phone3},
		email1 = #{email1},
		email2 = #{email2}
		where userid = #{userid}
	</update>
 -->


	<!-- 회원 탈퇴 -->

	<delete id="delMbrId" parameterType="string">
		delete member 
		where userid = #{userid}
	</delete>

	<delete id="delAgntId" parameterType="string">
		delete agent 
		where agntid = #{userid}
	</delete>

	<select id="checkMbrPw" parameterType="string" resultType="MemberDTO">
		select userid,passwd, ssn, username,post,addr, phone, email, agent
		from member
		where passwd = #{passwd}
	</select>
	
	<select id="checkAgntPw" parameterType="string" resultType="AgentDTO">
		select agntid, passwd, agntssn, agntname, agntphone, agntemail
		from agent
		where passwd = #{passwd}
	</select>
	



	<!-- 마이페이지  -->
   	<select id="mypageMember" parameterType="string" resultType="MemberDTO">
   		select userid, passwd, username, post, addr, phone, email, agent
   		from member
   		where userid = #{userid}
   	</select>

   	
   	<!-- 마이페이지 비밀번호 유효성체크 ajax -->
   	<select id="myPageCheckMember" parameterType="hashmap" resultType="MemberDTO">
		select userid,passwd, ssn, username,post,addr, phone, email
		from member
		where userid = #{userid} and passwd = #{passwd}
	</select>
	
	
	<!-- 마이페이지 정보 수정 -->
	<update id="memberUpdate" parameterType="MemberDTO">
   		update member
   		set passwd = #{passwd}, phone = #{phone}
   		where userid = #{userid}
   	</update>
   	
   	
   		<!-- 마이페이지 내 문의사항 -->
   		<select id = "myPageBoard" parameterType = "string" resultType = "hashmap">
			select h.hname,b.title, TO_CHAR(b.pdate, 'YYYY.MM.DD HH:MI') pdate, hcode, b.pcode
			from board b join house_info h
			using(hcode)
			where userid =  #{userid}
		</select>
	
   	
   	
   	<!-- /////////////////////Naver Login////////////////////////// -->
   	<select id="naverUser" parameterType="hashmap" resultType="int">
   		select count(*) from member 
   		where userid = #{uniqId}
   	</select>
   	
   	<insert id="naverSignUp" parameterType="hashmap">
   		insert into member (userid, passwd, ssn, username, post, addr, phone, email)
		values (#{uniqId}, 'naver', #{uniqId}, #{name}, 'na',  'na', #{uniqId}, #{email})
   	</insert>
   	
   	 <select id="getNaverUser" parameterType="string" resultType="MemberDTO">
   		select userid, passwd, ssn, username, post, addr, phone, email, agent
		from member 
		where userid = #{uniqId}
   	</select>
   	
</mapper>