/* delMbrld.css */


/* Section */
#section_wrap {
	position:absolute; top:60px; width:100%;
}

/* Section - main */
#article_delMbrldConfirm {
	width:1200px; margin:auto; text-align:center;
}
