/* houseOverview.css */

/* Menu */
#section_overview_menu {
	position:fixed; top:60px; width:100%; height:40px; background:#00008b; border-bottom:3px solid #cccccc; z-index:9999;
}

#inner_menu {
	width:1200px; height:60px; margin:auto;
}

/* Section */
#section_wrap {
	position:absolute; top:100px; width:100%;
}



 div#houseMapWrap{
    width: 420px;
    height: 500px;
    float: left;
    position: absolute;
    left: 920px;
    top: 100px;
 }


#outerTable{
	width: 850px;
	text-align: center;
}

.img{
	width: 250px;
    height: 180px;
    padding: 5px;
    cursor:pointer;
}

#innerTable{
	display: inline-block;
	width: 250px;
    box-shadow: 0px 3px 3px 3px lightgrey;
    margin-left:10px;
}

.hetc{
  width: 250px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 10px 0;
}

.greyText{
	color:grey;
}

#pages{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

#pages a {
	display: inline-block;
	margin-left: 10px;
}

a.focusedPage{
	background: none;
    width: 25px;
    color: dodgerblue;
}

a.unfocusedPage{
	background: dodgerblue;
    border-radius: 50%;
    width: 25px;
    color: white;
    text-decoration: none;
}