form#panel{
    float: left;
    width: 330px;
    height: 80%;

}
table#panel{    box-shadow: -2px 6px 1px 7px aliceblue; margin: 56px 0 20px 20px;}
table#panel th {color : darkblue; font-weight: bold; height: 30px;}
table#panel tr:hover{cursor: pointer;}
table#panel tr:nth-child(odd) {background-color: aliceblue;}
table#panel tr>td {text-align: center;}
div#btnBox{
	text-align: center;     
	float: left;
    position: relative;
    left: 6%;
 }
div#btnBox>button {
    margin: 10px 4px 10px 4px;
    border: 0;
    border-radius: 10px;
    padding: 8px 46px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow:1px 2px 5px 1px cadetblue;
}
span.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: darkblue;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  left: 320px;

  /* Position the tooltip */
  position: absolute;
  z-index: 2;
}
span.tooltiptext>img{
	width:90%;
	height:90%
}

span.tooltiptext::after {
  content: " ";
  position: absolute;
  width:50px;
  top: 10px;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent darkblue transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#accordian{
	position: absolute;
    width: 350px;
    margin: 0;
    padding: 0;
}
#accordian ul{
	margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: inset 1px 1px 57px lightskyblue;
    text-align:center;
}
#accordian ul li{
    width: 100%;
    cursor: pointer;
    margin: 0;
}

#accordian ul li h3 {
	background-color: darkblue;
    line-height: 50px;
    text-align: center;
    color: white;
    margin: 0;
}

#accordian ul li h3:hover{
    box-shadow: inset 1px 0px 34px 2px silver;
}

#accordian table#panel{
	margin-top: 10px;
	margin-left:28px;
}

#accordian .accordianBox{
	display:none;
}

	div[dir="ltr"] {
	left: 60px;
	top: 40px;
}

.btn {
	background: none;
	padding: 10px;
	z-index: 1;
	position: absolute;
	right: 10%;
	top: 5%;
	border-radius: 10px;
	cursor: pointer;
}

#accordian ul li.chartMenu {
	display: inline-block;
	width: 30%;
	margin-top: 30px 0;
}

#accordian ul li.chartMenu>h5 {
	padding: 10px 0;
	box-shadow: 2px 2px 4px 0px orange;
	margin: 20px 10px;
	background: beige;
	border-radius: 6px;
}