form#searchBar{padding: 10px; width: 800px;}
button, ul, li.filterOpt, input, span.rangeValue{float:left;}
div.rangeWrap{ height: 50px; width:350px; padding: 0 10px 0 10px; color: darkblue; }

ul{list-style:none;}
ul#filterList{ display:inline-block; margin-top:0; }


li.filterOpt{ margin-right: 20px; border-radius:10px; padding: 4px 8px 8px 8px; background-color: darkblue; color: white; font-weight: bold; cursor: pointer; }
ul.sublist{ display: none; background-color: white; color: darkblue; padding:5px 5px 8px 5px ; margin-top: 15px; position: absolute; float: left; box-shadow: 1px 1px 3px 3px #888888; }

input[type='range']{ padding: 0; margin: 0; float: left; margin-top: 10px; }
div.rangeLable{ float: left; position: absolute; bottom: 0; top: 75px; width:350px;}
  
span.startValue{ position: absolute; }
span.middleValue{ left: 155px; float: left; position: absolute; }
span.endValue{ position: absolute; left: 300px; }
span.searchRange{ float:right; margin-top: -40px; }
 
 
ul#filterListRgn{ 
    padding: 10px;
    width: 300px;
    float: right;
    margin-right: 100px;	
	
	}
li.filterRgn{ padding-right: 20px; color: white; font-weight: bold; cursor: pointer; }
ul#rgn{width:80px;}
li{ display : inline-block}
 
 /*******************슬라이더 스타일 *****************/
 .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: darkblue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}