/* mypage.css */

/* Menu */
#section_mypage_menu {
	position:absolute; top:60px; width:100%; height:40px; background:#00008b; border-bottom:3px solid #cccccc; z-index:2;
}

#inner_menu {
	width:1200px; height:40px; margin:auto;
}

#myPageMenu { float:left; margin-left:30px; margin-top:10px; }
#myPageMenu li { float:left; margin-left:20px; }
#myPageMenu li a { font-size:15px; font-weight:bold; color:#fff; }


/* Section */
#section_wrap {
	position:absolute; top:100px; width:100%;
}

/* Section - mypage */
#article_mypage {
	width:1200px; margin:auto; 
}


/* myPageForm */
#myPageForm{
	width:800px; margin:auto; margin-top:30px; text-align:center;
}


/* myPageTable */
#myPageTable{
	width:600px; margin:auto; 
}