@charset "utf-8";
/* Sabang Total CSS */

/*  Reset CSS  */
* { margin:0;  padding:0;}
ol,ul { list-style: none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0;}
body { font-family:orbitron; } 


/* 전체 */
#wrap {
	position:fixed; top:0px; left:0px; width:100%; height:100%;
}


/* Header */
#header {
	position:fixed; top:0px; width:100%; height:60px; background:white; border-bottom:3px solid #cccccc; z-index:9999;
}

#inner_header {
	width:1200px; height:60px; margin:auto;
}

#logo {
	float:left; width:100px; height:50px; margin-top:10px; margin-left:30px;
	background-image:url(/sabang/images/logo/sabangmainlogo.png); background-size:contain; background-repeat:no-repeat;
}

#welUser {
	float:left; margin-left:20px; margin-top:15px; font-size:18px; font-weight:bold; color:#00008b;
}

#loginOffMenu { float:right; margin-top:20px; margin-right:30px; }
#loginOffMenu li { float:left; margin-left:20px;}
#loginOffMenu li a { font-size:15px; font-weight:bold; color:#00008b;}

#loginOnMenu { float:right; margin-top:20px; margin-right:30px;}
#loginOnMenu li { float:left; margin-left:20px; font-size:15px; font-weight:bold; color:#00008b;}
#loginOnMenu li a { font-size:15px; font-weight:bold; color:#00008b; }

.filterRgn { cursor:pointer; }
ul.sublist { display:none; }

/* menu */
#menu {
	position:fixed; top:60px; width:100%; height:60px; background:white; border-bottom:3px solid #cccccc; z-index:9999;
}

#inner_menu {
	width:1200px; height:60px; margin:auto;
}




/* Section - signCheakMbrForm */
#article_signCheakMbrForm {
	width:1200px; margin:auto; text-align:center;
}

