/* loginForm.css */

/* Section */
#section_wrap {
	position:absolute; top:60px; width:100%;
}

/* Section - login */
#article_signMbrForm {
	width:1200px; margin:auto;
}

/* signForm */
#signForm{
	width:600px; margin:auto; margin-top:30px;
}